

<div class="row">
<div class="col-md-4">
<%= image_tag "profile.jpg", width: 300,alt: "Profile Image" %>

</div>

<div class="col-md-8">
	<h1>Pages#about</h1>
<p>Find me in app/views/pages/about.html.erb</p>
</div>
</div>
