<h1>Pages#contact</h1>

<p><%= number_to_phone "5555555555" %></p>
<p><%= number_to_currency "150" %></p>
<p><%= number_to_percentage "80.4" %></p>
<p><%= number_with_delimiter "363647889944040505" %></p>

<div class="col-md-12">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13999.650558299512!2d77.4446292680019!3d28.69225976692346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cf17448e07149%3A0x2ec279f3084ca048!2sSector+23%2C+Sanjay+Nagar%2C+Ghaziabad%2C+Uttar+Pradesh+201002!5e0!3m2!1sen!2sin!4v1514374065198" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
